name: boilerplate_melos_project
description: Boilerplate project
publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 1.0.0+3

environment:
  sdk: ">=3.7.2 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

workspace:
  - apps/app_core
  - packages/api_client
  - packages/app_notification_service
  - packages/app_subscription
  - packages/app_translations
  - packages/app_ui
  - packages/widgetbook

dependency_overrides:
  web: ^1.1.1
  source_gen: ^4.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  husky: ^0.1.7
  melos: ^7.3.0
  flutter_lints: ^6.0.0
lint_staged:
  "lib/**.dart": dart format -l 70 && dart analyze --fatal-infos --fatal-warnings
