name: boilerplate_melos_project
description: Boilerplate project
publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 1.0.0+3

environment:
  sdk: ">=3.7.2 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

workspace:
  - apps/app_core
  - packages/api_client
  - packages/app_notification_service
  - packages/app_subscription
  - packages/app_translations
  - packages/app_ui
  - packages/widgetbook

dependency_overrides:
  web: ^1.1.1
  source_gen: ^4.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  husky: ^0.1.7
  melos: ^7.3.0
  flutter_lints: ^6.0.0
lint_staged:
  "lib/**.dart": dart format -l 70 && dart analyze --fatal-infos --fatal-warnings

melos:
  useRootAsPackage: true
  scripts:
    analyze:
      description: Analyze all Dart & Flutter packages
      exec:
        concurrency: 10

    build-runner:
      description: Generate environment config, routes & code
      packageFilters:
        flutter: true
        scope: app_core
      exec: dart run build_runner build --delete-conflicting-outputs

    asset-gen:
      description: Generate assets
      packageFilters:
        flutter: true
        scope: app_ui
      exec: dart run build_runner build --delete-conflicting-outputs

    locale-gen:
      description: Generate localization
      packageFilters:
        flutter: true
        scope: app_translations
      exec: dart run slang

    build-apk:
      description: Build Android APK (production)
      packageFilters:
        flutter: true
        scope: app_core
      exec: flutter build apk -t lib/main_production.dart --flavor prod

    build-bundle:
      description: Build Android App Bundle
      packageFilters:
        flutter: true
        scope: app_core
      exec: flutter build appbundle -t lib/main_production.dart

    build-ipa:
      description: Build iOS IPA (production)
      packageFilters:
        flutter: true
        scope: app_core
      exec: flutter build ipa -t lib/main_production.dart --flavor prod

    go-ios-go:
      description: Reset iOS Pods & reinstall
      packageFilters:
        scope: app_core
      exec: |
        cd ios
        rm -rf Pods Podfile.lock
        pod install --repo-update

    widgetbook-gen:
      description: Generate Widgetbook files
      packageFilters:
        scope: widgetbook_workspace
      exec: dart run build_runner build --delete-conflicting-outputs

    format:
      description: Format & fix Dart code
        dart format . --line-length 70 --output=none
        dart fix --apply --code=require_trailing_commas
      exec:
        concurrency: 10
