<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCeUXHUOQtdItkvX9TsSBD0faG2XaXKPQI</string>
	<key>GCM_SENDER_ID</key>
	<string>971758003871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.boilerplate.app</string>
	<key>PROJECT_ID</key>
	<string>boilerplate-v2-c7080</string>
	<key>STORAGE_BUCKET</key>
	<string>boilerplate-v2-c7080.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971758003871:ios:a94194864dc7dd2891e4aa</string>
</dict>
</plist>